
.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
} /* Button */

.btnPrimary {
  background-color: #fff;
  color: #242424;
  border: 1px solid #fff;
} /* Primary Button with Color*/

.btnOutline {
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid #fff;
  border-radius: 10px;
  transition: all 0.3s ease-out;
} /* Button with Outline */

.btnMedium {
  padding: 8px 20px;
  font-size: 18px;
} /* Medium Button */

.btnLarge {
  padding: 12px 26px;
  font-size: 20px;
} /* Large Button */

.btnLarge:hover,
.btnMedium:hover {
 transition: all 0.3s ease-out;
 background: #fff;
 color: #242424;
 transition: 250ms;
} /* Button Hover Status */